
* {
	font-family: Helvetica;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    background: $grey;
}



#container {
    width: 100%;
    margin: 0 auto;
}


#main {
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 600px;

    /*&.buy-back {
        background: url('../../images/buyback.jpg') no-repeat;
        background-size: cover;
        background-position: top -200px left 0;
    }

    &.competitors-database {
        background: url('../../images/competitorsdatabase.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }
    &.equity {
        background: url('../../images/equity.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }
    &.equity-high-interest {
        background: url('../../images/equityhighinterest.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }
    &.high-interest {
        background: url('../../images/highinterest.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }
    &.lease {
        background: url('../../images/lease.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }
    &.lost-customer {
        background: url('../../images/lostcustomer.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }
    &.owner-loyalty {
        background: url('../../images/ownerloyalty.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }

    &.top-trade {
        background: url('../../images/toptrades.jpg') no-repeat;
        background-size: cover;
        background-position: top 0 left 0;
    }*/
    


















}

#header {
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;

    & img {
        float: left;
        padding: 0 0 0 20px;
        width: 180px;
    }


    & h1 {
        float: left;
        padding-left: 60px;
        font-size: 24px;
        color: $white;
    }






}

#contact {
    width: 600px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(256, 256, 256, 0.9);
    border-radius: 10px;
    padding: 10px 20px;

    & img {
        display: block;
        margin: 0 auto;
        padding: 0 0 10px 0;
    }


    & .carow {
        padding: 5px 0 !important;
    }


    & h2 {
        font-size: 42px;
        padding: 0 0 0 0;
        margin: 0;
        text-align: center;
        color: #107a04;
        font-style: italic;
    }
 
    & h3 {
        font-size: 26px;
        padding: 0 0 5px 0;
        margin: 0;
        text-align: center;
        font-style: italic;
        color: #000000;

        & span {
            color: #107a04;
        }

    }

    input {
        font-size: 16px;
        width: 100%;
        padding: 10px 0;
        margin: 10px 0 0 0;
        text-indent: 10px;
    }

    textarea {
        width: 100%;
        padding: 10px 0;
        margin: 10px 0 0 0;
        font-size: 16px;
        text-indent: 10px;

    }

    & .cacontainer {
        padding-top: 0;
    }




}

.btn {
    padding: 10px;
    background: #107a04;
    width: 100%;
    margin: 10px 0 0 0;
    color: $white;
    font-size: 16px;
    border: none;

    &:hover {
        background: darken(#107a04, 0.7);
    }
}

#copy {
    width: 55%;
    padding: 0 20px 0 20px;
    color: $black;
}



#footer {
    margin: 100px 0 0px 0;

    & img {
        display: block;
        margin: 0 auto;
    }

    & #about {
        text-align: center;
        color: $light-grey;

        & li {
            text-align: center;
            display: inline;
            padding: 5px 10px;
            list-style: none;

            &:nth-of-type(even) {
                color: #0276b3;
            }

            & a {
                color: $light-grey;
            }
        }
    }
}



#scratch {
    position: relative;
    display: inline-block;
    font-size: 0;
    /*margin-top: 100px;*/
    /*margin-bottom: 600px;*/
}

#scratch img {
    width: 100%;
    max-width: 916px;
    height: auto;
}

#scratch canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    -ms-touch-action: none;
    -webkit-touch-action: none;
    -moz-touch-action: none;
    touch-action: none;

    transition: opacity 500ms ease-out 0ms, height 0ms linear 500ms;
}



#scratch.revealed canvas {
    opacity: 0;
    height: 0;
}



.video {
    position: absolute;
    top: 170px;
    left: 150px;

    & video {
        width: 800px;
        background: visible;
    }
}


.scratch {

    & #copy {
        margin-top: 90px;
    }
}