@media only screen and (max-width: 1550px) {

    #contact {
        width: 500px;

        & img {
            width: 100%;
        }

        & h2 {
            font-size: 28px;
        }

        & h3 {
            font-size: 22px;
        }

        & .cacontainer {
            padding-top: 0;
        }

    }

    #copy {
        width: 50%;
    }

    #main {
        height: 440px;
    }


    .video {
        position: absolute;
        top: 250px;
        left: 150px;

        & video {
            width: 600px;
            display: block;
        }

    }


    .scratch {

        & #copy {
            margin-top: 200px;
        }
    }




}









@media only screen and (max-width: 1250px) {

#contact {
    width: 500px;

    & img {
        width: 100%;
    }

    & h2 {
        font-size: 28px;
    }

    & h3 {
        font-size: 22px;
    }

    & .cacontainer {
        padding-top: 0;
    }

}

    #copy {
        width: 50%;
    }

#main {
    height: 440px;
}


.video {
    position: absolute;
    top: 250px;
    left: 30px;

    & video {
        width: 45%;
        display: block;
    }

}


.scratch {

    & #copy {
        margin-top: 100px;
    }
}




}



@media only screen and (max-width: 1050px) {

    #contact {
        width: 400px;

        & img {
            width: 100%;
        }

        & h2 {
            font-size: 28px;
        }

        & h3 {
            font-size: 22px;
        }

        & .cacontainer {
            padding-top: 0;
        }

    }

    #main {
        height: 320px;
    }


.video {
    position: absolute;
    top: 200px;
    left: 50px;

    & video {
        width: 48%;
    }

}


.scratch {

    & #copy {
        margin-top: 150px;
    }
}




}







@media only screen and (max-width: 780px) {

    #header {
        & h1 {
            text-align: center;
            padding-left: 0;
        }
    }

    #contact {
        top: 950px;
        left: 0;
        width: 332px;
        margin: 20px auto;
        background: $white;

        & img {
            width: 100%;
        }

        & h2 {
            font-size: 24px;
        }
        & h3 {
            font-size: 18px;
        }

        & .cacontainer {
            padding-top: 0;
        }
    }

    /*&.buy-back {
        background: url('../../images/buyback.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.competitors-database {
        background: url('../../images/competitorsdatabase.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.equity {
        background: url('../../images/equity.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.equity-high-interest {
        background: url('../../images/equityhighinterest.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.high-interest {
        background: url('../../images/highinterest.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.lease {
        background: url('../../images/lease.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.lost-customer {
        background: url('../../images/lostcustomer.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.owner-loyalty {
        background: url('../../images/ownerloyalty.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }

    &.top-trade {
        background: url('../../images/toptrades.jpg') no-repeat;
        background-position: 0 0;
        background-size: contain !important;
    }*/

    & #copy {
        width: 90%;
        margin: 100px 0 0 0 !important;
    }




    ul#nav {
        padding: 10px 0 0 0;
        & li {
            padding: 0 10px !important;

            &:first-of-type {
                padding: 0 10px 0 0 !important;
            }
        }
    }


    #footer {
        margin: 1100px 0 20px 0;

    & img {
        display: block;
        margin: 0 auto;
    }

    & #about {
        text-align: center;
        color: $light-grey;
        padding: 0 !important;

        & li {
            text-align: center;
            display: block !important;
            padding: 5px 0 !important;
            list-style: none;

            &:nth-of-type(even) {
                display: none !important;
            }

            & a {
                color: $light-grey;
            }
        }
    }
}


.video {
    position: absolute;
    top: 190px;
    left: 50px;


    & img {
        width: 90%;
    }

    & video {
        width: 90%;
    }

}


.scratch {

    & #copy {
        margin-top: 100px !important;
    }
}





}